.feature-view {}

.feature-details-title {}
.feature-view table {padding:0;margin:0;line-height:1;border:0;width:100%;}
.feature-details-row {padding:0;margin:0;line-height: 1;}
td.feature-details-key {padding:0.2em;margin:0;line-height: 1;border:0;}
td.feature-details-value {padding:0.2em;margin:0;line-height: 1;border:0;}
td.even {background-color: #F2F2F2;color: black;}
td.odd {background-color: #C3C3C3;color: black;}

div.no-feature-details {padding:0.7em;line-height:1.6;font-style:italic;color:#333333;}

div.extra-small span.sc-button-inner {min-width:0px;}
div.extra-small img {margin:0; left:0; top:0; right:0; bottom:0; }

div.maps-chkbox-starred .sc-list-item-view .sc-checkbox-view.sel span.button { background: transparent static_url('images/starred.png') top right no-repeat; }

div.maps-chkbox-starred .sc-list-item-view .sc-checkbox-view span.button { background: transparent static_url('images/unstarred.png') top right no-repeat; }

div.link-summary-view {
    margin: 0.2em;
}

div.maps-dropview {
	font-style:italic;
	vertical-align: middle;
	padding-top: 10px;
    border: 1px dashed #ccc;
}

.drag-entered {
	background-color: #608AB9;
}

.sc-pane.sc-panel > .sc-view {
    background-color: transparent;
}

div.ace.dark.popover.maps.sc-view.popover_content_background {
    background: #F2F2F2;
}

.sc-label-view.sc-regular-size.app-logo {
    font-family: 'Gudea', serif;
    font-size: 25px;
}

@theme(maps) {
    $theme.centered {
        text-align: center;
    }

    $theme.translucent {
        opacity: 0.7;
        border-radius: 3px;
        border: 1px solid #bbb;
        background-color: #dddddd;
        box-shadow: 0px 0px 4px #555;
        /* For IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#333333')";
        /* For IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#333333');
    }

    $theme.sc-view.denim, $theme.sctable-body-scroll-view {
        background: #F5F5F5;
        /*background: black;  visual debugging */

        color: #333;

        .sc-collection-item {
            border-bottom: 1px solid #bbb;
        }

        .ace.collection {
            background: transparent;
        }
    }

    /* buttons used in button bars */
    $theme.button.borderless {
       background: transparent;
      &.active {
        background: #cccccc; /* Old browsers */
        background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 50%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(50%,#eeeeee));
        background: -webkit-linear-gradient(top, #cccccc 0%,#eeeeee 50%);
        background: -o-linear-gradient(top, #cccccc 0%,#eeeeee 50%);
        background: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 50%);
        background: linear-gradient(top, #cccccc 0%,#eeeeee 50%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
      }
      .left {
        background: transparent;
      }

      .middle {
        background: transparent;
      }

      .right {
        background: transparent;
      }
    }

    $theme.sc-view.graduated {
        background: #eeeeee; /* Old browsers */
        background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 50%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(50%,#cccccc)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 50%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 50%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 50%); /* IE10+ */
        background: linear-gradient(top, #eeeeee 0%,#cccccc 50%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    }

    $theme.sc-static-layout.help_text {
        font-size: 110%;
        
        p {
            line-height: 1.5em;
        }

        .bold {
            font-weight: bold;
        }

        .em {
            font-style: italic;
        }

        ol li {
            list-style-type: decimal;
            margin-left: 2em;
        }
    }

    $theme.ace.collection.border-right {
        border-right: 1px solid gray;
    }

    $theme.ace.collection.border-top {
        border-top: 1px solid gray;
    }

    $theme.ace.collection .sc-collection-item.sel {
		color: #000;
        background: #608AB9;
        background: -moz-linear-gradient(top, #72a5dc 0%, #3c76c4 50%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72a5dc), color-stop(50%,#3c76c4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #72a5dc 0%,#3c76c4 50%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #72a5dc 0%,#3c76c4 50%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #72a5dc 0%,#3c76c4 50%); /* IE10+ */
        background: linear-gradient(top, #72a5dc 0%,#3c76c4 50%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72a5dc', endColorstr='#3c76c4',GradientType=0 ); /* IE6-9 */
    }

    $theme.feature-list-item-view {
        img.right-icon {
            width: 16px;
            height: 16px;
            @include slice("images/115.png");

            &.active {
                @include slice("images/115_active.png");
            }
        }
    }

}

@theme(comments) {
    $theme.sc-list-item-view label {
        top: 25%;
        white-space: normal;
        overflow: visible;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
    }
}

@theme(loginPane) {
    $theme.sc-pane {
        font-size: 30px;

        .loginform {
            -moz-border-radius: 15px;
            border-radius: 15px;
	    	border: 1px solid #bbb;
            background-color: #dddddd;


            box-shadow: 0px 0px 20px #333;
            /* For IE 8 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=0, Color='#333333')";
            /* For IE 5.5 - 7 */
            filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=0, Color='#333333');

            .formlabel {
                color: black;
                font-family: 'Gudea', cursive;
            }

            .loginmessage {
                font-size: 16px;
                color: #FF7F50;
                font-weight: bold;
                cont-family: arial, helvetica;
            }
        }
    }
}

.hippie_background {
    background-image: static_url("linen.jpg");
    /*-moz-background-size: 100% 100%; *//* Firefox 3.6 */
    /*-webkit-background-size: 100% 100%; *//* Firefox 3.6 */
    /*background-size: 100% 100%;*/
    /*background-repeat:no-repeat;*/
    background-repeat: repeat;
}

.comment-view {
  display: block;
  position: relative;
  padding: 0.2em;
}
