.feature-view {}

.feature-details-title {}
.feature-view table {padding:0;margin:0;line-height:1;border:0;width:100%;}
.feature-details-row {padding:0;margin:0;line-height: 1;}
td.feature-details-key {padding:0.2em;margin:0;line-height: 1;border:0;}
td.feature-details-value {padding:0.2em;margin:0;line-height: 1;border:0;}
td.even {background-color: #F2F2F2;color: black;}
td.odd {background-color: #C3C3C3;color: black;}

div.no-feature-details {padding:0.7em;line-height:1.6;font-style:italic;color:#333333;}

div.extra-small span.sc-button-inner {min-width:0px;}
div.extra-small img {margin:0; left:0; top:0; right:0; bottom:0; }

div.maps-chkbox-starred .sc-list-item-view .sc-checkbox-view.sel span.button { background: transparent static_url('images/starred.png') top right no-repeat; }

div.maps-chkbox-starred .sc-list-item-view .sc-checkbox-view span.button { background: transparent static_url('images/unstarred.png') top right no-repeat; }

div.link-summary-view {
    margin: 0.2em;
}

div.maps-dropview {
	font-style:italic;
	vertical-align: middle;
	padding-top: 10px;
}

.drag-entered {
	border: 1px solid green;	
}

.sc-pane.sc-panel > .sc-view {
    background-color: transparent;
}

.sc-label-view.sc-regular-size.app-logo {
    font-family: 'Holtwood One SC', serif;
    font-size: 25px;
}


@theme(comments) {
    $theme.sc-list-item-view label {
        top: 25%;
        white-space: normal;
        overflow: visible;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
    }
}

@theme(loginPane) {
    $theme.sc-pane {
        font-size: 30px;

        .loginform {
            -moz-border-radius: 15px;
            border-radius: 15px;
            background-color: #dddddd;

            .formlabel {
                color: black;
                font-family: 'Pacifico', cursive;
            }

            .loginmessage {
                font-size: 16px;
                color: #FF7F50;
                font-weight: bold;
                cont-family: arial, helvetica;
            }
        }
    }
}
