img.icon {
    $icon_width: 16px;
    $icon_height: 16px;

    &.tag0 {
        background-color: #D7191C;
        width: $icon_width;
        height: $icon_height;
        border: 1px solid #3F6C3F;
    }

    &.tag1 {
        background-color: #FDAE61;
        width: $icon_width;
        height: $icon_height;
        border: 1px solid #3F6C3F;
    }

    &.tag2 {
        background-color: #ABDDA4;
        width: $icon_width;
        height: $icon_height;
        border: 1px solid #3F6C3F;
    }

    &.tag3 {
        background-color: #2B83BA;
        width: $icon_width;
        height: $icon_height;
        border: 1px solid #3F6C3F;
    }
}